<!--Titulo principal-->
<h1>Lista de Productos</h1>

<!--Boton show/close-->
<div class="button-container">
  <button mat-raised-button color="primary" class="custom-button" (click)="toggleList()">
    {{ showList ? 'Ocultar productos' : 'Mostrar productos' }}
  </button>
</div>

<!--Lista Principal que recorre con *ngFor los elementos almacenados-->
<div class="menu" *ngIf="showList">
  <ul>
    <li *ngFor="let item of Items">
      {{ item.nombre }} - {{ item.costo }}
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
